<h1>These are your appointments with Customers</h1><hr>

<% @appointments.each do |a| %>
    <h2> Description: <%= a.description %></h2>
    <h3> Time: <%= a.time %> </h3>
    <p> Date: <%= a.date %> </p>
    <p> Location: <%= a.location %></p>
    <p> Customer Name: <%= a.customer.name %></p>
    <p> Employee name: <%= a.employee.name %></p>
    <%= link_to "Edit Appointment", edit_customerappointment_path(a) %><hr>
    <% end %>


    <%= link_to "back", home_path %>