<h1>Clients</h1>
<hr>
<div class="row">
<% @clients.each do |c| %>
    <div class="col-lg-4 py-4">
        <div class="card">
        <h4 class="text-center"> <span class="feather-32" data-feather="user"> </span><br>  <%= c.name %></h4>
        <hr>
        <p>Phone: <%= c.phone %></p>
        <p>Email: <%= c.email %></p>
        <hr>
        <%= link_to "Edit", edit_client_path(c), class: "card-link" %><br>
        <%= link_to "Delete", client_path(c), method: :delete, class: "card-link"  %>
    </div>
</div>
        <% end %>
</div>



    

       

        <%= link_to "Add Client", new_client_path %><br>
        

        <%= link_to "Back", home_path %>







