<h1>Customers</h1><hr>
<% @customers.each do |c| %>
<p> Name: <%= c.name %></p>
<p> Phone: <%= c.phone %></p>
<p> Email: <%= c.email %></p>
<p> Budget: <%= c.budget %></p><hr>
<% end %>


<%= link_to "Back", home_path %>