<h1>Welcome to milkCRM</h1><hr>
<div class="row">
<div class="col-lg-8">
<div class="row">
        <h2>Appointments</h2>
        <% @appointments.each do |a| %>
            <div class="col-lg-12 py-2">
                <div class="card" >
                <div class="row">
                <div class="col-lg-4 text-center">
                        
                    <h4 class="time-box"><span class="feather-32" data-feather="calendar"></span> 
                        <br><%= a.date %> </h4>
                </div>
                <div class="col-lg-8">
                <h4> Description: <%= a.description %></h4>
                <hr>
                <p> Time: <%= a.time %> </p>
                <p> Location: <%= a.location %></p>
                <p> Client Name: <%= a.client.name %></p>
                <p> Employee name: <%= a.employee.name %></p>
                </div>
                </div>
                <hr>
                 <%= link_to "Edit Appointment", edit_clientappointment_path(a) %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
        <div class="col-lg-4">
        <div class="row">
            <h2>Clients</h2>
                <% @clients.each do |c| %>
                    <div class="col-lg-12 py-2">
                        <div class="card">
                    <h4 class="text-center"><%= c.name %></h4>
                    <hr>
                    <p>Phone: <%= c.phone %></p>
                    <p>Email: <%= c.email %></p>
                    <hr>
                    <%= link_to "Edit Client", edit_client_path(c) %><br>
                    </div>
                </div>
                        <% end %>
                </div>
            </div>
        </div>