<h1>Welcome to milkCRM</h1><hr>   

<%= link_to "View your clients here", clients_path %><br>
<%= link_to "View your appointments", clientappointments_path %><br>
<%= link_to "View products", products_path %><br><hr>
<%= link_to "Create a Client", new_client_path %><br>
<%= link_to "Create an Appointment", new_clientappointment_path %><br>

<hr>